body {
    width: 100vw;
}

.text {
    padding: 0 20px;
}

header {
    top: 30px;
}

.navbar__logo {
    width: 50%
}

.navbar__menu {
    display: block;
    width: 100%;
    margin: 10px auto;
}

.navbar__menu-item>a {
    font-size: 10px;
}

.banner {
    padding-top: 150px;
    text-align: center;
}

.banner-card {
    width: calc(100% - 40px);
    float: none;
    padding: 0 20px;
}

.banner-card__buttons {
    margin-top: 30px;
}

.banner-card__h1 {
    font-size: 30px;
}

.banner-card__p {
    font-size: 20px;
    margin-top: 30px;
}

.banner-card__button {
    padding: 10px 10px;
    font-size: 10px;
}

.banner-pic {
    margin-top: 30px;
    float: none;
    width: 100%;
    overflow: hidden;
}

.banner-pic__img {
    max-width: 100%;
    max-height: 100%;
}

.how {
    width: 100vw;
    margin: 40px auto;
}

.how__h2 {
    font-size: 30px;
}

.how-cards {
    margin-top: 45px;
}

.how-cards__card {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.how-cards__card-p {
    font-size: 20px;
}

.how-cards__card-img {
    max-width: 100%;
    max-height: 100%;
}

.yellowbar {
    display: none;
}

.download {
    overflow: unset;
}

.download-card {
    position: static;
    width: calc(100% - 40px);
    margin: 20px auto;
}

.download-card__img {
    max-width: 100%;
    max-height: 100%;
}

.join__h2 {
    font-size: 30px;
}

.join__p {
    margin-top: 30px;
}

.join-input {
    width: 100%;
}

.join-input__textarea {
    padding: 0;
    width: 100%;
    margin: 10px auto;
    float: none;
}

.join-input__button {
    float: none;
    width: 100%;
    border-radius: 5px;
}

.footer {
    margin-top: 50px;
}

.footer__img {
    margin-top: 42px;
}

.footer-list {
    font-size: 16px;
    line-height: 40px;
}

.footer__p {
    font-size: 12px;
}